html, body, .container
{
    height: 100%; 
    min-height: 100%;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20%;
    height: 30%;
    background-color: #36B37E;
    font-size: 45px;
    text-align: center;
    font-family: "Helvetica";
    color: white;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20%;
    height: 70%;
    background-color: #FFAB00;
    font-size: 45px;
    text-align: center;
    font-family: "Helvetica";
    color: white;
}


.third{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 80%;
    height: 80%;
    background-color: #00B8D9;
    font-size: 55px;
    text-align: center;
    font-family: "Helvetica";
    color: white;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 40%;
    height: 20%;
    background-color: #FF5630;
    font-size: 45px;
    text-align: center;
    font-family: "Helvetica";
    color: white;
}

.last{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 40%;
    height: 20%;
    background-color: #6554C0;
    font-size: 45px;
    text-align: center;
    font-family: "Helvetica";
    color: white;
    /*border:1px solid white;*/
}

.inner-border{
    border: 40x solid white;
    box-shadow: inset 0px 0px 0px 5px white;
    box-sizing: border-box;
}

/*.app-table-div{
    background-color: #00B8D9;
}*/

.queue_table{
    border: 23px solid white;
    /*border-collapse: collapse;*/
    margin: 1px;
    padding: 00;
    width: 100%;
    table-layout: fixed;
}

/* Table Links */

.queue_table a:link{
    color: white;
}

.queue_table a:visited{
    color: #B3BAC5;
}

.queue_table a:hover{
    color: #FFAB00;
}

table caption {
    font-size: 2.5em;
    margin: .5em 0 .75em;
    font-family: "Helvetica";
    color: white;
  }

table tr {
background-color:  #0052CC;
border: 1px solid #ddd;
padding: .35em;
}  

table th,
table td {
  padding: .625em;
  text-align: center;
  font-family: "Helvetica";
  color: white;
}

table th {
    font-size: 1.5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
  }

  /* Review history CSS */

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px 20px 20px;
    border: 1rem solid white;
    color: white;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #0052CC;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #FFAB00;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 85px;
    font-family: "Helvetica";
  }

  .split p {
    font-size: 40px; 
  }
  