<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style2.css') }}">
    </head>
    <body>
        <a href="https://ecosystem.atlassian.net/issues/?jql=project%20in%20(%22Marketplace%20Support%22)%20and%20issuetype%20%3D%20%22App%20Review%22%20and%20created%20%3E%3D%20-7d" 
        target="_blank"><div title="App submitted in last 7 days" class="split left">
            <div class="centered">
                <p>Submitted Apps</p> 
                {{ app_tuple[0]['tickets_created'] }}
            </div>
        </div></a>
        <a href="https://ecosystem.atlassian.net/issues/?jql=project%20in%20(%22Marketplace%20Support%22)%20and%20issuetype%20%3D%20%22App%20Review%22%20and%20resolutiondate%20%3E%3D%20-7d"
         target="_blank"><div title="App processed in last 7 days" class="split right">
            <div class="centered">
                <p>Processed Apps</p>
                {{ app_tuple[1]['tickets_resolved'] }}
            </div>
        </div></a>
    </body>
</html>