<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style2.css') }}">
    </head>
    <body>
        <div class="container">
        <a href="{{ url_for('static',filename='total_queue.html') }}"><div class="first inner-border">Cloud apps:<br> {{ cloud_total }}</div></a>
        <div class="third inner-border">Queue total:<br> {{ queue_numbers }}</div>
        <div class="second inner-border">Server apps:<br> {{ server_total }}</div>
        <div class="fourth inner-border">Dual platform apps:<br> {{ dual_total }}</div>
        <div class="last inner-border">DC apps:<br> {{ dc_total }}</div>
        </div>
    </body>
</html>