<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style2.css') }}">
    </head>
    <body>
        <div class="">

        </div>
        <div class="app-table-div">
            {% if app_queue %}
            <table id='result' class='queue_table'>
                <!--<caption>App Review Queue</caption>-->
                <thead>
                <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for app in app_queue %} 
                <tr>
                    <td><a href ="https://ecosystem.atlassian.net/browse/{{ app[-1] }}" target="_blank">{{ app[0] }}</a></td>
                    <td><a href ="https://marketplace.atlassian.com/manage/apps/{{ app[-4] }}/versions/{{ app[-3] }}/details" target="_blank">{{ app[1] }}</a></td>
                    <td>{{ app[3] }}</td>
                    <td>{{ app[5] }}</td>
                    <td>{{ app[4] }}</td>
                </tr>
                {% endfor %}        
                </tbody>
            </table>
            {% endif %}
        </div>
    </body>
</html>